{% extends 'FrontendBundle:layouts:base.html.twig' %}

{% block body %}
    <img src="{{ asset('images/obrazwymiana.png') }}" />
    <h1>Witamy wszsytkich w serwisie wymiany ksiazek !!!</h1>
{% endblock %}

